        <div ng-include="'partials/navigation.html'"></div>
        <div id="page-wrapper" article-bindings>
            <!-- Loader -->
            <div class="loader">
                <div class="progress change"></div>
            </div>
            <!-- Main content -->
            <div class="row clearfix">
                <!-- Title -->
                <div class="col-lg-12">
                    <h1 class="page-header" data-translate="add-new">Add article</h1>
                </div>
                
                <div class="col-lg-9">
                    
                    <!-- Notifications -->
                    <!-- Success -->
                    <div class="alert alert-success hide alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <span id="success-text"></span>
                    </div>
                    <!-- Error -->
                    <div class="alert alert-success hide alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <span id="error-text"></span>
                    </div>
                    
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li bootstrap-tabs ng-repeat="tab in articleData.article.langVersions" ng-class="{ 'active' : $first }">
                            <a data-href="#{{tab.langCode}}" data-toggle="tab">{{tab.langLabel}}</a>
                        </li>
                        <li bootstrap-tabs class="pull-right">
                            <a data-href="#medias" data-translate="medias" data-toggle="tab">Medias</a>
                        </li>
                    </ul>
                    
                    <!-- Article form -->
                    <form role="form" form-validator>
                    <div class="tab-content">
                        <!-- Tab content -->
                        <div ng-repeat="tabContent in articleData.article.langVersions" 
                             ng-class="{ 'tab-pane fade' : true, 'in active' : $first }" 
                             id="{{tabContent.langCode}}">
                            <div class="panel-body">
                                <div ng-repeat="input in tabContent.fieldList" class="form-group">
                                    <label>{{input.label}}</label>
                                    <span ng-if="input.field == 'input'">
                                        <input type="{{input.type}}" 
                                               name="{{input.name}}" 
                                               data-validation="{{input.validation}}"
                                               data-lang="{{tabContent.langCode}}"
                                               value="{{input.value}}" 
                                               class="form-control"
                                               process-url />
                                        <div ng-if="input.editor" summer-note data-lang="{{tabContent.langCode}}" 
                                             data-validation="{{input.validation}}" 
                                             class="summernote form-control">
                                        </div>
                                    </span>
                                    <span ng-if="input.field != 'input'">
                                        <select name="{{input.name}}" 
                                                data-validation="{{input.validation}}"
                                                data-lang="{{tabContent.langCode}}"
                                                class="form-controll">
                                            <option ng-repeat="option in input.value" value="{{option.value}}">{{option.label}}</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="tab-pane fade in active" id="en">
                            <div class="panel-body">
                                
                                <div class="form-group">
                                    <label>Title</label>
                                    <input name="title" data-lang="en" data-validation="required" class="form-control" />
                                </div>
                                
                                <div class="form-group">
                                    <label>Url</label>
                                    <input name="url" data-lang="en" data-validation="required" class="form-control" />
                                </div>                                
                                
                                <div class="form-group">
                                    <label>Text</label>
                                    <input type="hidden" name="content" data-lang="en" class="text-content" />
                                </div>
                                
                            </div>    
                        </div>
                        <div class="tab-pane fade" id="sk">
                            <div class="panel-body">
                                
                                <div class="form-group">
                                    <label>Title</label>
                                    <input name="title" data-lang="sk" data-validation="required" class="form-control" />
                                </div>
                                
                                <div class="form-group">
                                    <label>Url</label>
                                    <input name="url" data-lang="sk" data-validation="required" class="form-control" />
                                </div>                                
                                
                                <div class="form-group">
                                    <label>Text</label>
                                    <input type="hidden" name="content" data-lang="sk" class="text-content" />
                                    <div summer-note data-lang="sk" data-validation="required" class="summernote form-control"></div>
                                </div>
                                
                            </div>    
                        </div>
                        -->
                        <!-- Tab media -->
                        <div class="tab-pane fade" id="medias">
                            <div class="panel-body">
                                <h4 data-translate="medias">Medias</h4>
                                <div class="panel-group" id="accordion" bootstrap-accordion>
                                    <!-- Images -->
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-translate="images" data-parent="#accordion" data-href="#collapseOne">Images</a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body media-wrapper">
                                                
                                                <!-- Drop area -->
                                                <div class="well well-lg image-drop-area">
                                                    <h4 data-translate="drag-and-drop-notice">drag &amp; drop images here, or click on this area</h4>
                                                    <i class="fa fa-arrow-down area-big"></i>
                                                </div>
                                                
                                                <!-- Image container - template location  -->
                                                <div id="image-container"></div>    
                                                    
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Videos -->
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-translate="videos" data-parent="#accordion" data-href="#collapseTwo">Videos</a>
                                            </h4>
                                        </div>
                                        <!-- Video form -->
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="video-holder">
                                                    <div class="form-group video-row clearfix">
                                                        <div class="col-xs-8 pull-left">
                                                            <label data-translate="video-url">Video URL</label>
                                                            <input data-lang="sk" name="video-url[]" class="form-control" />
                                                        </div>                                                 
                                                        <div class="col-xs-3 pull-left">
                                                            <label data-translate="provider">Provider</label>
                                                            <select class="form-control">
                                                                <option>Youtube</option>
                                                                <option>Vimeo</option>
                                                                <option>Dailymotion</option>
                                                            </select>
                                                        </div>
                                                        <button type="button" class="btn btn-danger btn-circle remove-video-field">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </div>
                                                </div>    
                                                <!-- Add video button -->
                                                <div class="col-xs-12">
                                                    <button type="button" class="btn btn-success add-video">
                                                        <i class="fa fa-plus-circle"></i> 
                                                        <span data-translate="add">add</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Files -->
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-translate="files" data-parent="#accordion" data-href="#collapseThree">Files</a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                
                                                <!-- File table -->
                                                <div id="file-upload">
                                                    
                                                    <!-- Drop area -->
                                                    <div class="well well-lg file-drop-area">
                                                        <h4 data-translate="drag-and-drop-notice">drag &amp; drop files here, or click on this area</h4>
                                                        <i class="fa fa-arrow-down area-big"></i>
                                                    </div>                                                    
                                                    
                                                    <div class="table-responsive">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th data-translate="file-name">File name</th>
                                                                    <th data-translate="file-size">File size</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="file-container"></tbody>
                                                        </table>
                                                    </div>
                                                
                                                </div>
                                                <!-- /file-table -->
                                                
                                            </div><!-- /panel-body -->
                                        </div>
                                        
                                    </div><!-- /panel-info -->
                                    
                                </div><!-- /acordion -->
                                
                            </div>
                        </div>
                    </div>
                    </form>
                    
                    <!-- Save button -->
                    <div class="panel-body save-button">
                        <button type="button" class="btn btn-primary btn-lg btn-block btn-success">
                            <i class="fa fa-save"></i>
                            <span data-translate="save">Save</span>
                        </button>
                    </div>
                    
                </div><!-- /central content -->
                
                <!-- Aside -->
                <aside class="col-lg-3 margin-top">
                    
                    <div class="panel-body">
                    
                        <!-- Categories -->
                        <div class="panel panel-blue">
                            <div class="panel-heading" data-translate="categories">
                                Categories
                            </div>
                            <div id="categories" class="panel-body">
                                <form role="form" action="#">    
                                    <div class="form-group input-group">
                                        <span class="input-group-addon"><i class="fa fa-code-fork fa-fw"></i></span>
                                        <input type="text" class="form-control" data-translate="start-typing" placeholder="start typing">
                                    </div>
                                    <div class="alert alert-info alert-dismissable">
                                        <input type="hidden" name="categories[]" value="news" class="form-control" placeholder="Pick time">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        News
                                    </div>
                                    <div class="alert alert-info alert-dismissable">
                                        <input type="hidden" name="categories[]" value="archive" class="form-control" placeholder="Pick time">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        Archive
                                    </div>                                
                                </form>
                            </div>
                        </div> 

                        <!-- Publication settings -->
                        <div class="panel panel-blue">
                            <div class="panel-heading" data-translate="publication-settings">
                                Publication settings
                            </div>
                            <div id="publication-settings" class="panel-body" date-time-picker>
                                <form role="form" action="#">
                                    <!-- Publication date -->
                                    <label data-translate="publication-date">Publication date</label>
                                    <div class="form-group date input-group dateTimePicker" id="publication-date">
                                        <input type="text" 
                                               name="publication-date" 
                                               data-validation="date"
                                               data-validation-format="mm/dd/yyyy h:MM TT" 
                                               data-translate="pick-time"
                                               class="form-control" 
                                               placeholder="Pick time" />
                                        <span class="input-group-addon"><i class="fa fa-calendar-o fa-fw"></i></span>
                                    </div>
                                    <!-- Expiration date -->
                                    <label data-translate="expiration-date">Expiration date</label>
                                    <div class="form-group date input-group dateTimePicker" id="expiration-date">
                                        <input type="text" 
                                               name="expiration-date" 
                                               data-validation="date" 
                                               data-validation-format="mm/dd/yyyy h:MM TT" 
                                               data-translate="pick-time"
                                               class="form-control" 
                                               placeholder="Pick time" />
                                        <span class="input-group-addon"><i class="fa fa-calendar-o fa-fw"></i></span>
                                    </div>
                                    <button type="button" class="btn btn-block btn-primary" data-translate="publish-article">Push live</button>
                                    <button type="button" class="btn btn-block btn-error" data-translate="unpublish-article">Unpublish</button>
                                    <button type="button" class="btn btn-block btn-warning" data-translate="flush-article">Flush article</button>
                                </form>
                            </div>
                        </div>
                
                    </div><!-- /.panel-body -->
                        
            </aside>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Modal windows -->
        
    <div id="delete-file-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Are you sure?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel-delete" data-dismiss="modal">Cancel</button>
                    <button type="button" class="delete-img btn btn-primary confirm-delete">Yes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
