            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu" metis-menu>
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" data-translate="search" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </li>
                        <li>
                            <a ng-class="{ 'active' : selectedNavItem == 'dashboard' }" href="#/dashboard">
                                <i class="fa fa-dashboard fa-fw"></i> 
                                <span data-translate="dashboard">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a ng-class="{ 'active' : selectedNavItem == 'categories' }" href="#/categories">
                                <i class="fa fa-code-fork fa-fw"></i> 
                                <span data-translate="categories">Categories</span>
                            </a>
                        </li>
                        <li>
                            <a ng-class="{ 'active' : selectedNavItem == 'pages' }" href="#/pages">
                                <i class="fa fa-sitemap fa-fw"></i> 
                                <span data-translate="pages">Pages</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a ng-class="{ 'active' : selectedSubNavItem == 'add-page-type' }"  href="#/add-page-type" data-translate="add-page-type">Add page type</a>
                                </li>
                                <li>
                                    <a ng-class="{ 'active' : selectedSubNavItem == 'page-list' }" href="#/pages" data-translate="page-list">Page list</a>
                                </li>
                                <li>
                                    <a ng-class="{ 'active' : selectedSubNavItem == 'navigation-structure' }" href="#/navigation-structure" data-translate="navigation-structure">Navigation structure</a>
                                </li>
                            </ul>                            
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-file-text-o fa-fw"></i> 
                                <span data-translate="articles">Articles</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#/article/0" data-translate="add-new">Add new</a>
                                </li>
                                <li>
                                    <a href="#/article-list" data-translate="article-list">Article list</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#/users-and-groups">
                                <i class="fa fa-users fa-fw"></i> 
                                <span data-translate="users-and-groups">Users &amp; groups</span> 
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#/users" data-translate="users">Users</a>
                                </li>
                                <li>
                                    <a href="#/group" data-translate="groups">Groups</a>
                                </li>
                            </ul>                            
                        </li>                        
                        <li>
                            <a href="#">
                                <i class="fa fa-cog fa-fw"></i> 
                                <span data-translate="settings">Settings</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#/site-settings" data-translate="site-settings">Site settings</a>
                                </li>
                                <li>
                                    <a href="#/languages" data-translate="languages">Languages</a>
                                </li>
                                <li>
                                    <a href="#/widgets" data-translate="widgets">Widgets</a>
                                </li>
                                <li>
                                    <a href="#/advanced" data-translate="advanced">Advanced</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->