.main-container.wide {
	width:100%;
	margin:10px auto;
}
header {
	height:50px;
}
.header-menu-tab {
	line-height:44px;
}
.profile-menu {
	height:50px;
}
.profile-menu p {
	line-height:44px;
}
.small-profile-picture {
	width: 30px;
	height: 30px;	
}
.menu-box {
	height:auto;
	min-height: 434px;
}
.titular {
	text-transform:uppercase;
	line-height: 50px;
}
.menu-box .titular {
	background: #cc324b;
}
.menu-box-menu li {
	height:auto;
}
.menu-box-tab {
	line-height: 50px;	
}
.menu-box-tab:hover {
	border-top: 0px solid #1f253d;
}
.line-chart-block {
	height:434px;
}
.line-chart-block {
	margin-left: 0;
}
.line-chart-block,
.donut-chart-block {
	width:300px;
	float:left;
	margin-left: 2%;
}
.left-container {
	width:18%;
}
.middle-container {
	width:78%;
	margin:0 2%;
}